.card {
  background-color: var(--discord-bg-alt);
  border-radius: 12px;
  padding: 2em;
  color: var(--discord-text);
  box-shadow: 0 0 0 1px var(--discord-border);
}

.read-the-docs {
  color: var(--discord-secondary);
}
